/* GLOBAL */
/* ======================= */
/* initialisation de la page */
* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 20px;
}

/* paramétrage général */
body {
    font-family: 'montserrat';
}
.container {
    max-width: 75%;
    margin: auto; /*centrage du container*/
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}
h3 {
    font-family: 'dancing script';
    font-size: 1.8rem;
}
/* ======= FIN =========== */


/* SECTION PRODUCTS */
/* ======================= */
#products {
    background-color: #D2D2D2;
    height: 85vh;
    display: flex;
    align-items: center;
}
.products h2 {
    color: #1E0F1C;
}
.products h3 {
    color: #955149;
}
.close-title {
    line-height: 0.65;
    margin-bottom: 50px;
}
.products-content {
    height: 60vh;
    display: flex;
}
.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.f2p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.f2p .box {
    height: 47.5%;
}
.f3p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 0 45.94px;
}
.f3p .box {
    height: 30%;
}
.box {
    position: relative;
    overflow: hidden; /*cacher le surplus de la box (pour l'anim)*/
}
.box-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    backdrop-filter: blur(4px); /*flou sur elmts de derriere*/
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    align-items: center;
    transform: translateY(200%);
    transition: 0.5s;
}
.box:hover .box-content {
    transform: translateY(100%);
}
.box-content h4 {
    font-size: 1rem;
    margin: 10px 5px;
}
.box-content p {
    font-size: 0.6rem;
    margin: 10px 5px;
}
/* ======= FIN =========== */